In [1]:
# importing libraries,reading csv into a dataframe
import numpy as np
import pandas as pd
data = pd.read_csv("python munging.csv")

### Explotary data Analysis

In [2]:
data.shape

(154, 39)

In [3]:
data.Tenor.unique()

array([ 0.5,  1. ,  2. ,  3. ,  4. ,  5. ,  6. ,  7. ,  8. ,  9. , 10. ])

In [4]:
data.CMATicker.unique()

array(['III', 'CDXHY10', 'CDXHY10-10-15', 'CDXHY10-15-25',
       'CDXHY10-25-35', 'CDXHY10-35-100', 'CDXHY11', 'CDXHY11-10-15',
       'CDXHY11-15-25', 'CDXHY11-25-35', 'CDXHY11-35-100', 'CDXHY12',
       'CDXHY13', 'CDXHY14', 'CDXHY15', 'CDXHY15-0-15', 'CDXHY15-15-25',
       'CDXHY15-25-35', 'CDXHY15-35-100', 'CDXHY16', 'CDXHY17',
       'CDXHY17-0-15', 'CDXHY17-15-25', 'CDXHY17-25-35', 'CDXHY17-35-100',
       'CDXHY18', 'CDXHY19', 'CDXHY19-0-15', 'CDXHY19-15-25',
       'CDXHY19-25-35', 'CDXHY19-35-100', 'CDXHY20', 'CDXHY21',
       'CDXHY21-0-15', 'CDXHY21-15-25', 'CDXHY21-25-35', 'CDXHY21-35-100',
       'CDXHY22', 'CDXHY8', 'CDXHY9', 'CDXHY9-10-15', 'CDXHY9-15-25',
       'CDXHY9-25-35', 'CDXHY9-35-100'], dtype=object)

### Creating Primary Indicator 'PInd'

In [5]:
data['PInd'] = data['CMATicker']+'-'+ data['Tenor'].map(str)[:-2]

In [6]:
data[['CMATicker', 'Tenor', 'PInd']]

         CMATicker  Tenor              PInd
0              III    0.5           III-0.5
1              III    1.0           III-1.0
2              III    2.0           III-2.0
3              III    3.0           III-3.0
4              III    4.0           III-4.0
..             ...    ...               ...
149         CDXHY9   10.0       CDXHY9-10.0
150   CDXHY9-10-15    7.0  CDXHY9-10-15-7.0
151   CDXHY9-15-25    7.0  CDXHY9-15-25-7.0
152   CDXHY9-25-35    7.0               NaN
153  CDXHY9-35-100    7.0               NaN

[154 rows x 3 columns]

### Filtering coupons which are not 100 or 500

In [7]:
data.columns

Index(['BusinessDate', 'ClientEntityId', 'CMAEntityId', 'CMATicker',
       'EntityName', 'Standard', 'Sector', 'Seniority', 'Currency',
       'RestructuringType', 'InstrumentType', 'DefaultDate', 'AuctionDate',
       'Tenor', 'MarketQuotingConvention', 'ObservedDerivedIndicator',
       'Coupon', 'Delta', 'Reference', 'RecoveryRate', 'MidDailyHigh',
       'MidDailyLow', 'AggregationQuoteTimeStamp', 'AggregationWindow',
       'AggregationContributors', 'AggregationContributedQuotes',
       'AggregationMaximumSources', 'AggregationMaximumQuotes',
       'DailyContributors', 'DailyContributedQuotes',
       'DailyContributedSpreadQuotes', 'DailyContributedUpfrontQuotes',
       'DailyMaximumSources', 'DailyMaximumQuotes', 'PV01', 'HazardRate',
       'CumProbabilityofDefault', 'CMAShortTermImpliedRating',
       'CMALongTermImpliedRating', 'PInd'],
      dtype='object')

In [11]:
Coupons =[100,500]
data2 = data[data.Coupon.isin(Coupons)]
data2.shape

(144, 40)